body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

.input {
  width: 70%;
  background-color: rgba(244, 229, 229, 0.171);
  font-weight: bold;
}
.header {
  letter-spacing: 3px;
}
.signupcont {
  padding-left: 1rem;
  height: 95vh;
  justify-content: center;
}
.btn {
  width: 8rem;
  height: 2.5rem;
  color: white;
  background-color: rgb(40, 94, 40);
  letter-spacing: 3px;
  font-weight: bold;
  margin-top: 3%;
  cursor: pointer;
}
.headerCont {
  width: 14rem;
  height: 4rem;
  position: absolute;
  color: black;
  left: 25%;
  letter-spacing: 0.3rem;
  font-weight: bolder;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  text-align: center;
  align-items: center;
  top: 50%;
  box-shadow: 0px 10px 10px #5f6161;
  border-radius: 0.2rem;
}
.smallheader {
  float: right;
  color: white;
  margin: 1rem;
  top: 3%;
  letter-spacing: 3px;
  top: 4rem;
}
.home-all {
  position: relative;
  box-shadow: 0px 10px 10px #777a7a;
  transition: all 0.2s ease-in-out;
}

.home-all:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.main {
  width: 100%;
  display: grid;
  gap: 1.2rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(320px, 450px));
}
.nav {
  background-color: #383a39;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
  top: 0;
  width: 100%;
  padding-bottom: 1rem;
  display: flex;
}
.nav-wrapper {
  height: 170vh;
  overflow-y: scroll;
  position: fixed;
  width: 293px;
  z-index: -8;
  overflow-x: hidden;
  opacity: 0;
}
.nav-wrapper::-webkit-scrollbar {
  width: 15px;
  background-color: rgb(152, 147, 147);
}

.nav-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.nav-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.sub-menu {
  top: 10;
  width: auto;
  height: 200%;
  right: 0;
  max-width: 280px;

  display: fixed;
  justify-content: center;
  display: flex;
  background-color: #383a39;
  z-index: 10;
  position: absolute;
  transition: 450ms;
  left: -100%;
  letter-spacing: 3px;
  font-weight: bold;
  margin: 0;
}
.active {
  left: 0;
  transition: 450ms;
  opacity: 1;
}

.header {
  background-color: rgb(73, 71, 71);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  color: white;
  cursor: pointer;
}
.active-wrapper {
  opacity: 1;
  z-index: 2;
  background-color: transparent;
}

.icon {
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  list-style: none;
  height: 50px;
  text-decoration: none;
  cursor: pointer;
  color: white;
}
.icon:hover {
  background-color: #8cdd97;
}

.link-icon {
  font-size: 18px;
}

.drop-down-link {
  background-color: rgb(69, 204, 87);

  height: 60px;
  padding-left: 2.5rem;
  text-decoration: none;
  font-size: 16px;
  align-items: center;
  display: flex;
  color: white;
}
.drop-down-link:hover {
  background-color: #8cdd97;
}
.container {
  position: fixed;
  display: flex;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(19, 17, 17);
  background-color: rgba(17, 17, 17, 0.4);
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
}
.cookiesContent {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(10, 9, 9);
  color: #000;
  text-align: center;
  border-radius: 20px;
  padding: 30px 30px 70px;
  color: white;
  letter-spacing: 0.2rem;
  height: 62vh;
}
img {
  width: 100%;
  height: 24vh;
  /* margin-bottom: 15px; */
}
p {
  margin-bottom: 40px;
  font-size: 18px;
}
button.accept {
  background-color: #ed6755;
  border: none;
  border-radius: 5px;
  width: 200px;
  padding: 14px;
  font-size: 16px;
  color: white;
  box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
}
.close {
  float: right;
}
